<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
</head>
<body>
        <a href="/">Login System</a>
<div>
          <ul>
            <li>
              <a href="{% url 'home' %}">Logout </a>
            </li>
          </ul>
</div>
<center>
    <h4>Change Password</h4>
</center>
          <div>
            <form method="POST">

              <div>
                <input type="password" class="form-control" name='password' placeholder="new password">
              </div>


              <button type="submit" class="btn btn-success">change password</button>
              <h2>don't have account <a href="{% url 'home' %}">back</a></h2>
              <a href="{% url 'home' %}">Logout</a>

            </form>
          </div>


</body>
</html>
