<!DOCTYPE html>

<html></html>
<head>
    <title>Login Page</title>
</head>
<body>
        <a>LoginSystem</a>

        <div>
          <ul>

            <li>
              <a href="{% url 'register' %}">Register </a>
            </li>

          </ul>

        </div>


    <center>
        <h2>Login Here</h2>
    </center>
    <div>
      <form method="POST">
        {% csrf_token %}


        <div>
          <input type="text" class="form-control" name='username' placeholder="username">
        </div>

        <div>
          <input type="password" class="form-control" name="password" placeholder="password">
        </div>


        <button type="submit" class="btn btn-success">Login</button>
        <h3>don't have account <a href="{% url 'register' %}">register</a></h3>




      </form>
    </div>
</body>
</html>
