<!DOCTYPE html>

<html>
<head></head>
    <title>add more about user</title>
</head>
<body>
        <div >
          <ul>

            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>

          </ul>

        </div>
    <center>
        <h2>Add more about User</h2>
    </center>
    <div></div>
      <form method="POST">
        {% csrf_token %}
     <div>
            <input type="file" class="form-control" name="profilepic" placeholder="upload profile">
        </div>
        <div>
            <input type="text" class="form-control" name="shortintro" placeholder="more about yourself">
          </div>

        <button type="submit" class="btn btn-success">add now</button>

      </form>

</body>
</html>
