<!DOCTYPE html>

<html></html>
<head>
    <title>Register Page</title>
</head>
<body>

    <nav>
    <a href="{% url 'home' %}">Login</a>
    </nav>
    <center>
        <h2>Create an account</h2>
    </center>
   <div>
      <form method="POST">
        {% csrf_token %}
          <div>
            <input type="text" class="form-control" placeholder="fname" name='fname'>
          </div>
          <div>
            <input type="text" class="form-control" placeholder="lname" name='lname'>
          </div>
        </div>
        <br>
        <div>
          <input type="text" class="form-control" name='username' placeholder="username">
        </div>
        <div>
          <input type="text" class="form-control" name='email' placeholder="email">
        </div>
        <div>
          <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <div>
            <input type="text" class="form-control" name="shortintro" placeholder="more about yourself">
          </div>

        <button type="submit" class="btn btn-success">Create an Account</button>
        <h3>already  have account <a href="{% url 'home' %}">login</a></h3>
        <a href="{% url 'home' %}">Logout</a>
      </form>
    </div>
</body>
</html>
